In [1]:
import pandas as pd

df=pd.read_csv('city_day.csv')

In [3]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [5]:
df.size

472496

In [6]:
df = df.dropna(subset=['AQI'])
df.size

397600

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24850 entries, 28 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        24850 non-null  object
 1   Date        24850 non-null  datetime64[ns]
 2   PM2.5       24172 non-null  float64
 3   PM10        17764 non-null  float64
 4   NO          24463 non-null  float64
 5   NO2         24459 non-null  float64
 6   NOx         22993 non-null  float64
 7   NH3         18314 non-null  float64
 8   CO          24405 non-null  float64
 9   SO2         24245 non-null  float64
 10  O3          24043 non-null  float64
 11  Benzene     21315 non-null  float64
 12  Toluene     19024 non-null  float64
 13  Xylene      9478 non-null   float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 3.2+ MB

In [9]:
df['City'].unique()

array(['Ahmedabad', 'Aizawl', 'Amaravati', 'Amritsar', 'Bengaluru',
       'Bhopal', 'Brajrajnagar', 'Chandigarh', 'Chennai', 'Coimbatore',
       'Delhi', 'Ernakulam', 'Gurugram', 'Guwahati', 'Hyderabad',
       'Jaipur', 'Jorapokhar', 'Kochi', 'Kolkata', 'Lucknow', 'Mumbai',
       'Patna', 'Shillong', 'Talcher', 'Thiruvananthapuram',
       'Visakhapatnam'], dtype=object)

In [12]:
# Perform one-hot encoding
df = pd.get_dummies(df, columns=['City'], drop_first=True)

# Create a dictionary to map new columns to original cities
city_mapping = {col.replace('City_', ''): col for col in df.columns if col.startswith('City_')}

# Display the mapping
print(city_mapping)

KeyError: "None of [Index(['City'], dtype='object')] are in the [columns]"

In [15]:
print(city_mapping)
df.head()

{'Aizawl': 'City_Aizawl', 'Amaravati': 'City_Amaravati', 'Amritsar': 'City_Amritsar', 'Bengaluru': 'City_Bengaluru', 'Bhopal': 'City_Bhopal', 'Brajrajnagar': 'City_Brajrajnagar', 'Chandigarh': 'City_Chandigarh', 'Chennai': 'City_Chennai', 'Coimbatore': 'City_Coimbatore', 'Delhi': 'City_Delhi', 'Ernakulam': 'City_Ernakulam', 'Gurugram': 'City_Gurugram', 'Guwahati': 'City_Guwahati', 'Hyderabad': 'City_Hyderabad', 'Jaipur': 'City_Jaipur', 'Jorapokhar': 'City_Jorapokhar', 'Kochi': 'City_Kochi', 'Kolkata': 'City_Kolkata', 'Lucknow': 'City_Lucknow', 'Mumbai': 'City_Mumbai', 'Patna': 'City_Patna', 'Shillong': 'City_Shillong', 'Talcher': 'City_Talcher', 'Thiruvananthapuram': 'City_Thiruvananthapuram', 'Visakhapatnam': 'City_Visakhapatnam'}

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,...,City_Jorapokhar,City_Kochi,City_Kolkata,City_Lucknow,City_Mumbai,City_Patna,City_Shillong,City_Talcher,City_Thiruvananthapuram,City_Visakhapatnam
28,2015-01-29,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,...,False,False,False,False,False,False,False,False,False,False
29,2015-01-30,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,...,False,False,False,False,False,False,False,False,False,False
30,2015-01-31,94.52,NaN,24.39,32.66,52.61,NaN,24.39,67.39,111.33,...,False,False,False,False,False,False,False,False,False,False
31,2015-02-01,135.99,NaN,43.48,42.08,84.57,NaN,43.48,75.23,102.70,...,False,False,False,False,False,False,False,False,False,False
32,2015-02-02,178.33,NaN,54.56,35.31,72.80,NaN,54.56,55.04,107.38,...,False,False,False,False,False,False,False,False,False,False

In [16]:
df['Month'] = df['Date'].dt.month

In [17]:
correlation_date_aqi = df['Date'].corr(df['AQI'])
print(f"Pearson Correlation between Date and AQI: {correlation_date_aqi}")
correlation_month_aqi = df['Month'].corr(df['AQI'])
print(f"Pearson Correlation between Month and AQI: {correlation_month_aqi}")

Pearson Correlation between Date and AQI: -0.19427154059696877
Pearson Correlation between Month and AQI: 0.022163462192538293

In [18]:
df['AQI_Bucket'].unique()

array(['Poor', 'Very Poor', 'Severe', 'Moderate', 'Satisfactory', 'Good'],
      dtype=object)

In [19]:
aqi_stats = df.groupby('AQI_Bucket')['AQI'].agg(['min', 'max']).reset_index()

print(aqi_stats)

     AQI_Bucket    min     max
0          Good   13.0    50.0
1      Moderate  101.0   200.0
2          Poor  201.0   300.0
3  Satisfactory   51.0   100.0
4        Severe  401.0  2049.0
5     Very Poor  301.0   400.0

In [20]:
df.drop(['AQI_Bucket'], axis=1, inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24850 entries, 28 to 29530
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     24850 non-null  datetime64[ns]
 1   PM2.5                    24172 non-null  float64
 2   PM10                     17764 non-null  float64
 3   NO                       24463 non-null  float64
 4   NO2                      24459 non-null  float64
 5   NOx                      22993 non-null  float64
 6   NH3                      18314 non-null  float64
 7   CO                       24405 non-null  float64
 8   SO2                      24245 non-null  float64
 9   O3                       24043 non-null  float64
 10  Benzene                  21315 non-null  float64
 11  Toluene                  19024 non-null  float64
 12  Xylene                   9478 non-null   float64
 13  AQI                      24850 non-null  float64
 14  City_Aizawl              24850 non-null  bool
 15  City_Amaravati           24850 non-null  bool
 16  City_Amritsar            24850 non-null  bool
 17  City_Bengaluru           24850 non-null  bool
 18  City_Bhopal              24850 non-null  bool
 19  City_Brajrajnagar        24850 non-null  bool
 20  City_Chandigarh          24850 non-null  bool
 21  City_Chennai             24850 non-null  bool
 22  City_Coimbatore          24850 non-null  bool
 23  City_Delhi               24850 non-null  bool
 24  City_Ernakulam           24850 non-null  bool
 25  City_Gurugram            24850 non-null  bool
 26  City_Guwahati            24850 non-null  bool
 27  City_Hyderabad           24850 non-null  bool
 28  City_Jaipur              24850 non-null  bool
 29  City_Jorapokhar          24850 non-null  bool
 30  City_Kochi               24850 non-null  bool
 31  City_Kolkata             24850 non-null  bool
 32  City_Lucknow             24850 non-null  bool
 33  City_Mumbai              24850 non-null  bool
 34  City_Patna               24850 non-null  bool
 35  City_Shillong            24850 non-null  bool
 36  City_Talcher             24850 non-null  bool
 37  City_Thiruvananthapuram  24850 non-null  bool
 38  City_Visakhapatnam       24850 non-null  bool
 39  Month                    24850 non-null  int32
dtypes: bool(25), datetime64[ns](1), float64(13), int32(1)
memory usage: 3.5 MB

In [22]:
pearson_corr = df.corr()['AQI']

# Calculate Kendall Tau correlation
kendall_corr = df.corr(method='kendall')['AQI']

# Display the results
print("Pearson Correlation:")
print(pearson_corr.sort_values(ascending=False))

print("\nKendall Tau Correlation:")
print(kendall_corr.sort_values(ascending=False))

Pearson Correlation:
AQI                        1.000000
PM10                       0.803313
CO                         0.683346
PM2.5                      0.659181
NO2                        0.537071
SO2                        0.490586
NOx                        0.486450
NO                         0.452191
Toluene                    0.279992
NH3                        0.252019
O3                         0.198991
City_Delhi                 0.195558
Xylene                     0.165532
City_Patna                 0.131924
City_Lucknow               0.105131
City_Gurugram              0.103902
Benzene                    0.044407
Month                      0.022163
City_Talcher               0.007761
City_Jorapokhar           -0.009172
City_Brajrajnagar         -0.019769
City_Bhopal               -0.025429
City_Guwahati             -0.026703
City_Kolkata              -0.032561
City_Kochi                -0.035352
City_Ernakulam            -0.041456
City_Jaipur               -0.050005
City_Chandigarh           -0.054879
City_Aizawl               -0.062701
City_Amritsar             -0.072069
City_Shillong             -0.073037
City_Visakhapatnam        -0.077756
City_Mumbai               -0.077932
City_Coimbatore           -0.078687
City_Amaravati            -0.094666
City_Chennai              -0.105779
City_Hyderabad            -0.116425
City_Thiruvananthapuram   -0.135369
City_Bengaluru            -0.147963
Date                      -0.194272
Name: AQI, dtype: float64

Kendall Tau Correlation:
AQI                        1.000000
PM10                       0.703241
PM2.5                      0.680044
CO                         0.393481
NOx                        0.338239
NO                         0.325432
NO2                        0.324722
SO2                        0.260428
NH3                        0.255352
Toluene                    0.252908
City_Delhi                 0.205988
O3                         0.190830
Benzene                    0.175634
City_Patna                 0.148368
City_Lucknow               0.126781
City_Gurugram              0.121777
Xylene                     0.118447
City_Jorapokhar            0.032785
City_Talcher               0.031061
City_Brajrajnagar          0.020301
City_Jaipur                0.000993
City_Bhopal               -0.001351
City_Kochi                -0.026228
Month                     -0.028279
City_Guwahati             -0.036393
City_Ernakulam            -0.039319
City_Kolkata              -0.041860
City_Visakhapatnam        -0.048350
City_Amritsar             -0.059489
City_Chandigarh           -0.061141
City_Mumbai               -0.069471
City_Chennai              -0.073587
City_Hyderabad            -0.086902
City_Aizawl               -0.087224
City_Coimbatore           -0.100404
City_Shillong             -0.101528
City_Amaravati            -0.106698
City_Bengaluru            -0.150213
City_Thiruvananthapuram   -0.172426
Date                      -0.192027
Name: AQI, dtype: float64

In [ ]:
df.to_csv('AQI_Pre.csv',index=False)